<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gratitude Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Gratitude Journal</h1>
    <form method="POST">
        <label for="entry">What are you grateful for today?</label><br>
        <textarea id="entry" name="entry" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <ul>
        <div class="growing"></div>
    </ul>
    <h2>Previous Entries</h2>
    <ul>
        {% for entry in gratitude_entries %}
            <li>{{ entry.date }}: {{ entry.entry }}</li>
        {% endfor %}
    </ul>

</body>
</html>
